@import "tailwindcss";
@import "tw-animate-css";

/* @import "@heroui/styles"; */
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #f9fafb;
  --foreground: oklch(0.141 0.005 285.823);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poppins: var(--font-poppins);

  --color-muted: #71717a;
  --color-border: rgb(225, 225, 225);

  --color-primary: #4f46e5;
  --color-primary-50: #efeeff;
  --color-primary-100: #e2e0ff;
  --color-primary-200: #cac7fe;
  --color-primary-300: #cac7fe;
  --color-primary-400: #8881f8;
  --color-primary-500: #6b63f1;
  --color-primary-600: #4f46e5;
  --color-primary-700: #4038ca;
  --color-primary-800: #3730a3;
  --color-primary-900: #332e81;
  --color-primary-950: #1e1b4b;

  --color-danger: #ef4444;
  --color-danger-50: #fef2f2;
  --color-danger-100: #fee2e2;
  --color-danger-200: #fecaca;
  --color-danger-300: #fca5a5;
  --color-danger-400: #f87171;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;
  --color-danger-700: #b91c1c;
  --color-danger-800: #991b1b;
  --color-danger-900: #7f1d1d;
  --color-danger-950: #450a0a;

  --color-warning: #fb923c;
  --color-warning-50: #fff5ed;
  --color-warning-100: #ffe8d5;
  --color-warning-200: #fed0aa;
  --color-warning-300: #fdb274;
  --color-warning-400: #fb923c;
  --color-warning-500: #f97c16;
  --color-warning-600: #ea700c;
  --color-warning-700: #c25e0c;
  --color-warning-800: #9a4f12;
  --color-warning-900: #7c4212;
  --color-warning-950: #432207;
}

@layer base {
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
